@import '../../variables.scss';

.bp3-navbar.bp3-dark {
  background-color:#156571;
}

.navBar .navBar__group .active .welcome {
  background-color:#156571;

  img {
    width: 2.4rem;
    height: auto;
  }
}

.logo {
  max-width: 100%;
}

.header-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .icon {
    opacity: 1;
    width: 1.5rem;
    transition: .2s ease-in filter;
  }
}

.bp3-navbar-group .active .header-button {
  background-color: #2FB0C5;
}

.modal-signin {
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    max-width: 30rem;
  }
}

.modal-mentions-legales {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 130;

  .bp3-card {
    padding: 0;
  }

  .mentions-legales {
    color: #394b59;
    padding: 1.5rem;

    .mentions-legales-container {
      font-family: "SFProText-Regular", Arial, Helvetica, sans-serif;
    }

    &-title {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "SFProText-Medium", Arial, Helvetica, sans-serif;
      margin: 0 0 2rem 0;
    }

    .container-block {
      > h4 {
        margin-bottom: 0;
        font-family: "SFProText-Medium", Arial, Helvetica, sans-serif;
        padding-bottom: 0.4rem;
      }

      > address {
        font-style: normal;
      }

      p {
        margin-bottom: 0.2rem;
      }

      a {
        color: #394b59;
      }

      a:hover {
        font-weight: bold;
      }
    }
  }
}

.navBar__group {
  padding-top: .2rem;

  button {
    outline: none;
  }

  .bp3-popover-wrapper {
    margin: 0 0 1rem 0;
    background-color: transparent;
  }
}

@media(min-width: $breakpoints-tablet) and (max-width: $breakpoints-desktop) and (orientation: landscape) {
  .modal-mentions-legales {
    .bp3-overlay-content {
      max-width: 75%;
      max-height: 95%;
      overflow: scroll;
    }
  }
}

@media(min-width: $breakpoints-phone) and (max-width: $breakpoints-tablet) and (orientation: portrait) {
  .modal-mentions-legales {
    .bp3-overlay-content {
      max-width: 90%;
      max-height: 90%;
      overflow: scroll;
    }
  }
}
