@import '../../theme.scss';

$navWidth: 4rem;
$layersTreeWidth: 22.5rem;
$widgetsWidth: 20rem;
$detailsWidth: 30.5rem;
$mapboxContributionsWidth: 18.5rem;
$mapboxControlScaleWidth: 4rem;

$tableHeight: 33vh;


.main {
  display: flex;

  &__header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 0 0 50px;
  }

  &__content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-width: 0;
  }

  @media print {
    display: block;
    &__header {
      display: none;
    }
    &__content {
      display: block;
    }
  }
}

.main .navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  flex: 1;
  padding: 0;
  z-index: 1000;
  background-color: #156571;

  &__group {
    flex-direction: column;
    height: auto;
  }

  // Below override blueprint
  .bp3-overlay {
    white-space: nowrap;
  }
}

.appName {
  padding-left: 0.5rem;

  &-title {
    font-size: 1.4rem;
    font-family: "SFProText-Regular", Arial, Helvetica, sans-serif;
    margin-right: .5rem;

    &-logo {
      height: 2rem;
      margin-top: .5rem;
    }
  }

  &-version {
    font-size: 0.8rem;
    font-family: "SFProText-light", Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}

.main .map-navigation {
  padding: 0 ! important;

  &__header {
    background-image: url('../../images/visu-background.png');
    height: 3rem;
  }

  &__title {
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.layerstree-group:first-child {
  margin-top: 0;
}

.layerstree-panel-list {
  width: 100%;
}

.main .layerNode-options__buttons--active, .layerNode-widgets__buttons--active {
  .icon, svg {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(140deg);
  }
}

.details {
  .details__info-administrative {
    text-align: center;
    margin-bottom: 4px;
  }

  .details__list {

    .details__column-label {
      white-space: normal;
      padding-right: 18px;
    }

    .details__column-value {
      vertical-align: bottom;
      white-space: nowrap;
    }
  }
}

// Fix temporary waiting upgrade TerraLego
.visualizer {
  .interactive-map__legends {
    overflow: unset;
    overflow-y: scroll;

    .tf-legend {
      min-width: unset;
      max-width: none;
      max-height: 22rem;

      .tf-legend__only-circles {
        width: 18rem;
        height: 17.5rem;

        .tf-legend__item {
          bottom: 50px;
        }
      }
    }

    .tf-legend__title {
      display: flex;
      align-self: center;
    }
  }
}

// Override TerraLego
.mapboxgl-ctrl:hover {
  color: #202B33;
}

.interactive-map {
  .tf-legend {
    margin-bottom: 1em;
  }
}

.visualizer {
  .mapboxgl-ctrl-bottom-left {
    transform: translate3d(3rem, 0, 0);
    margin: -0.5rem 0.5rem;
  }

  & .visualizer--with-layers-tree {
    .mapboxgl-ctrl-bottom-left {
      transition: none;
      transform: none;
      margin: -0.5rem 0.5rem;
    }

    .mapboxgl-ctrl-bottom-left > .mapboxgl-ctrl-scale {
      transition: transform .2s ease-in;
      transition-delay: 4s;
      transform: translate3d($layersTreeWidth, 0, 0);
    }
  }

}

// Override Mapbox position logo
.visualizer {
  &.visualizer--with-layers-tree {
    .mapboxgl-ctrl-logo {
      pointer-events: none;
      position: absolute;
      width: 100%;
      left: calc(100vw - (#{$layersTreeWidth} + #{$navWidth} + #{$mapboxContributionsWidth}));
      bottom: 0.75rem;
    }
  }

  &:not(.visualizer--with-layers-tree) {
    .mapboxgl-ctrl-logo {
      pointer-events: none;
      position: absolute;
      width: 100%;
      left: calc(100vw - (#{$navWidth} + #{$mapboxContributionsWidth} + 3rem));
      bottom: 0.75rem;
    }
  }
}
