@import '../../theme.scss';

$navWidth: 4rem;
$layersTreeWidth: 22.5rem;
$widgetsWidth: 20rem;
$detailsWidth: 25.5rem;
$mapboxContributionsWidth: 18.5rem;
$mapboxControlScaleWidth: 4rem;

$tableHeight: 33vh;


.main {
  display: flex;

  &__header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 0 0 3.35rem;
    z-index: 100;

    &__target {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 105;
    }

    &--mobile {
      flex: 0 0 10rem;
      transform: translateX(0rem);
      margin-left: -7.65rem;
      transition: transform .2s ease-in;

      .navBar__group {
        display: flex;
        padding: .5rem;

        a, > span {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: space-between;
          font-size: .7rem;
          text-align: right;
          outline: none;
          text-decoration: none;
          width: 9.5rem;
          height: 3rem;

          .header-button-label {
            color: #f5f8fa;
            display: table-cell;
            padding-right: 1rem;
            width: 10rem;
            margin: 0;
          }
        }

        .header-button {
          width: 2.25rem;
          height: 2.25rem;
          margin: auto;
          align-items: center;
        }

        .active .header-button-label {
          font-weight: 600;
          font-size: .75rem;
        }
      }

      &--open {
        transform: translateX(7.65rem);
      }
    }
  }

  &__content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-width: 0;
  }

  @media print {
    display: block;
    &__header {
      display: none;
    }
    &__content {
      display: block;
    }
  }
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  flex: 1;
  padding: 0;

  &__group {
    flex-direction: column;
    height: auto;
  }

  // Below override blueprint
  .bp3-overlay {
    white-space: nowrap;
  }
}

.main .map-navigation {
  padding: 0 ! important;

  &__header {
    background-image: url('../../images/AURAN-fond.png');

    .appName-title-logo {
      margin-top: 0;
    }
  }
}

// Override Terralego
.main .visualizer-view.is-layers-tree-visible .map-navigation {
  background-color: #30404d;
}

.layerstree-group:first-child {
  margin-top: 0;
}

.layerstree-panel-list {
  width: 100%;
}

.main .layerNode-options__buttons--active, .layerNode-widgets__buttons--active {
  .icon, svg {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(140deg);
  }
}

.details {
  .details__info-administrative {
    text-align: center;
    margin-bottom: 4px;
  }

  .details__list {

    .details__column-label {
      white-space: normal;
    }

    .details__column-value {
      vertical-align: bottom;
      white-space: nowrap;
    }
  }
}

// Fix temporary waiting upgrade TerraLego
.visualizer {
  .interactive-map__legends {

    .tf-legend {
      max-width: none;
    }

    .tf-legend__title {
      align-self: center;
    }
  }
}

// Override TerraLego
.mapboxgl-ctrl:hover {
  color: #202B33;
}

.interactive-map {
  .tf-legend {
    margin-bottom: 1em;
  }
}

.visualizer {
  .mapboxgl-control-container {
    transition: all .2s ease-in;
  }

  .mapboxgl-ctrl-top-left,
  .mapboxgl-ctrl-bottom-left {
    transform: none;
    transition: all .2s ease-in;
  }

  .mapboxgl-ctrl-bottom-left {
    transform: none;
    margin: -0.5rem 0.5rem;
    left: 0rem;
    right: 22rem;
    transition: all .2s ease-in;

    .mapboxgl-ctrl {
      float: none;
    }
  }

  &.visualizer--with-layers-tree {
    .mapboxgl-ctrl-bottom-left {
      transform: none;
      margin: -0.5rem 0.5rem;
      left: $layersTreeWidth;
      right: 22rem;
      transition: all .2s ease-in;
    }

  }

  .mapboxgl-popup {

    .mapboxgl-popup-content {
      text-align: center;
    }
  }
}

// Override Mapbox position logo
.visualizer {

  .mapboxgl-ctrl-logo {
    position: absolute;
    right: 10px;
    bottom: 15px;
    transition: all .2s ease-in;

  }

  &.visualizer--with-layers-tree {
    .mapboxgl-ctrl-logo {
      right: -38px;
      bottom: 15px;
    }
  }

}
