$transitionSpeed: .2s;

.interactive-map {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 100vh;
  display: flex;

  .tf-map {
    flex: 1;
    width: 100%;
  }

  &__legends {
    position: absolute;
    bottom: 22px;
    right: .5rem;
    padding: 8px;
    max-height: calc(100% - 30px);
    max-width: 17%;
    min-width: 200px;
    overflow: auto;
  }
}

.interactive-map__legends {
  z-index: 31;
}

.interactive-map__legends-inner {
  transform-origin: bottom right;
  transition: opacity .2s ease-in-out, transform .2s ease-in-out, visibility .2s;

  &--hidden {
    opacity: 0;
    visibility: hidden;
    transform: scale(.88);
  }
}
